<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings, <%= @member.name %>!</h1>
    <p>The time has come for the Theater Arts Guild Omaha awards, where we honor outstanding achievements in the Omaha theater scene.</p>
      <p>The first step in the nominations process.  Please use the link below to:<br> 
        1) Select all the performances you attended in the 2014-15 season; and<br> 
        2) Enter up to five nominees for each category.
      </p>  
    <p><%= @url %></p>
    <p>Thanks for participating in this year's TAG awards! Be sure to save the date for our annual TAG Awards Gala on xx August, 2015 at the <a href="http://www.mccneb.edu/visitors/swansonconferencecenter.asp" target="blank">Swanson Conference Center</a>. </p>
    <p><strong><em>Support live theater in the Omaha metropolitan area!</em></strong></p>
  </body>
</html>