<h2 class="alert alert-success" role="alert">Your nominations have been saved!</h2>
<p class="well"><strong>To edit your nominations, click on the link in the email you received. You can edit your ballot anytime until the close of the nominations voting period.</strong></p>